<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <label for="username">
                Username:
                <input type="text" name="username" value="{{username}}">
            </label>
            <p>{{username_error}}</p>
            <label for="password1">
                Password:
                <input type="password" name="password1">
            </label>
            <p>{{password1_error}}</p>
            <label for="password2">
                Verify Password:
                <input type="password" name="password2">
            </label>
            <p>{{password2_error}}</p>
            <label for="email">
                Email(optional):
                <input name="email" type="text" value="{{email}}">
            </label>
            <p>{{email_error}}</p>
            <input type="submit">
        </form>
    </body>
</html>